.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
}

  .name {
    margin-left: 4%;
  }



html, body, #root {
  height: 100%;
  /*color: #404137;*/
}

body {
  height: 100%;
/*  background: #76b852; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);*/
  /*background: -moz-linear-gradient(right, #76b852, #8DC26F);*/
  /*background: -o-linear-gradient(right, #76b852, #8DC26F);*/
  /*background: linear-gradient(to left, #76b852, #8DC26F);*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}